
.CreateForm{
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.CreateInput{
    display: flex;
    flex-direction: column;
    background: #eee;
    border: 2px solid #eee;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    padding: 15px;
    margin: 15px;
}
.CreateButton{
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background: #43a047;
    border: none;
    color: #fff;
    cursor: pointer;
}
.CreateButton:hover{
    background: #46793f;
}
.CreateLabel{
    margin-left: 15px;
}
.CreateError{
    margin-left: 15px;
    color: #c03232;
}