.CommentBlock{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.CommentDetails{
    display: flex;
    justify-content: space-between;
}
.CommentDetailsDiv{
    padding-left: 5px;
}